<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h3 class="card-title text-center mb-5 "><strong>Password Reset</strong></h3>
                    <form [formGroup]="resetpassform">
                        <p style="justify-content: center; display:flex">Set Your New Password</p>

                        <label for="floatingInput">Password</label>
                        <div class="form-floating mb-3">
                            <input type="password" formControlName="password" class="form-control" id="floatingInput" placeholder="********"/>
                            <span style="color:red" *ngIf="password && password.invalid && password.touched">Please Enter 8
                                digit password</span>
                        </div>

                        <label for="floatingInput">Confirm Password</label>
                        <div class="form-floating mb-3">
                            <input type="password"  formControlName="password_confirmation" class="form-control" id="floatingInput" placeholder="********"/>
                            <span style="color:red" *ngIf="password_confirmation && password_confirmation.invalid && password_confirmation.touched">Please Enter 8
                                digit password</span>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-warning btn-login text-uppercase fw-bold" type="submit" (click)="resetPassword()">Reset
                                Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/><br/>